<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/app.css">
  <title>启材教育</title>
</head>
<body>
  <div class="site-container">
    <div class="site-header">
      <div class="inner">
        <div class="logo">
          <a href="###">
            <img src="./assets/img/logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="site-con">
      <div class="banner slideBox">
        <ul class="items">
          <li>
            <div>
              <img src="./assets/img/banner.png" alt="">
            </div>
          </li>
          <li>
            <div>
              <img src="./assets/img/banner.png" alt="">
            </div>
          </li>
        </ul>
      </div>
      <div class="section">
        <div class="header">
          <i class="icon icon-logo"></i>
          <h4 class="title">关于启材</h4>
          <h6 class="subtitle">ABOUT US</h6>
        </div>
        <p class="desc">
          启材教育是一家专业从事学历学位教育与综合素质发展的教育机构，当前业务涵盖高起专、专升本以及学位教育课程。自机构成立之日起，启材教育秉承"服务为本，质量为根"的理念，整合国内名牌高校资源，专注于“为学员定制合适的学历提升计划、为学员打造舒适的学习体验”工作，旨在为学员提供最全面、最优质的教学服务。
        </p>
        <div class="school-logos">
          <ul>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-1.jpg" alt="">
                <span class="name">北京大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-2.jpg" alt="">
                <span class="name">北京科技大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-3.jpg" alt="">
                <span class="name">北京理工大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-4.jpg" alt="">
                <span class="name">华南师范大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-5.jpg" alt="">
                <span class="name">中国地质大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-6.jpg" alt="">
                <span class="name">江南大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-7.jpg" alt="">
                <span class="name">中国石油大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-8.jpg" alt="">
                <span class="name">北京师范大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-9.jpg" alt="">
                <span class="name">中国农业大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-10.jpg" alt="">
                <span class="name">山东大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-11.jpg" alt="">
                <span class="name">西南科技大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-12.jpg" alt="">
                <span class="name">中国医科大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-13.jpg" alt="">
                <span class="name">电子科技大学</span>
              </a>
            </li>
            <li>
              <a href="###">
                <img src="./assets/img/school-logo-14.jpg" alt="">
                <span class="name">国家开放大学</span>
              </a>
            </li>
          </ul>
        </div>
        <hr>
        <div class="promise">
          <p>无论您有没有基础，学习能力怎么样，有没有时间<br>启材教育都将为您定制 <span>最合理、最全面的学历提升方案</span></p>
          <ul>
            <li>
              <i class="icon icon-pencil"></i>
              <span class="promise-title">高中学历升专科</span>
            </li>
            <li>
              <i class="icon icon-book"></i>
              <span class="promise-title">大专学历升本科</span>
            </li>
            <li>
              <i class="icon icon-cap"></i>
              <span class="promise-title">升本科拿学位</span>
            </li>
          </ul>
        </div>
        <hr>
        <div class="section-2">
          <div class="header">
            <div class="inner">
              <i class="icon icon-logo"></i>
              <h4 class="title">我们的优势</h4>
              <h6 class="subtitle">Our advantage</h6>
            </div>
          </div>
          <div class="con">
            <ul>
              <li>
                <h6 class="title">学信网终身可查</h6>
                <p>
                  我们郑重承向您诺<br>
                  我们不做假学历，不办假证，要做只做国家认可、学信网可查的学历证书
                </p>
              </li>
              <li item="2">
                <h6 class="title">名校覆盖<br>百余专业任您选</h6>
                <p>启材教育结合各大企业需求，量身选择合适您的学校</p>
              </li>
              <li item="3">
                <h6 class="title">学习工作两不误</h6>
                <p>
                  是否没有时间去外面学习？<br>
                  天天工作面对繁重的生活负担抽不出时间？<br>
                  选择启材教育，让一切都变得简单
                </p>
              </li>
              <li item="4">
                <h6 class="title">海量信息更新及时<br>政策资讯快人一步</h6>
                <p>
                  形势瞬息万变，机会稍纵即逝<br>
                  专业的政策解读，让您抓住机会，把握未来
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="header">
          <i class="icon icon-logo"></i>
          <h4 class="title">报名流程</h4>
          <h6 class="subtitle">Registration process</h6>
        </div>
        <div class="registration-process">
          <ul>
            <li order="1">
              <h6 class="title">咨询报名</h6>
              <i class="icon icon-circle">1</i>
              <i class="icon icon-arrow-right"></i>
            </li>
            <li order="2">
              <h6 class="title">缴纳报名费</h6>
              <i class="icon icon-circle">2</i>
              <i class="icon icon-arrow-right"></i>
            </li>
            <li order="3">
              <h6 class="title">领取通知书</h6>
              <i class="icon icon-circle">3</i>
              <i class="icon icon-arrow-right"></i>
            </li>
            <li order="4">
              <h6 class="title">缴纳第一年学费</h6>
              <i class="icon icon-circle">4</i>
              <i class="icon icon-arrow-bending"></i>
            </li>
            <li order="8">
              <h6 class="title">领取通知书</h6>
              <i class="icon icon-circle">8</i>
              <i class="icon icon-arrow-left"></i>
            </li>
            <li order="7">
              <h6 class="title">学信网查询</h6>
              <i class="icon icon-circle">7</i>
              <i class="icon icon-arrow-left"></i>
            </li>
            <li order="6">
              <h6 class="title">缴纳第二年学费</h6>
              <i class="icon icon-circle">6</i>
              <i class="icon icon-arrow-left"></i>
            </li>
            <li order="5">
              <h6 class="title">学校提交信息到学信网</h6>
              <i class="icon icon-circle">5</i>
            </li>
          </ul>
          <p class="ext-info">报名需要材料：身份证正反面{ 电子版 }，蓝底大一寸证件照{ 电子版 }，高中或等同学历毕业证{ 电子版 }</p>
        </div>
        <hr>
      </div>
      <div class="section">
        <div class="header">
          <i class="icon icon-logo"></i>
          <h4 class="title">常见问题</h4>
          <h6 class="subtitle">Q&A</h6>
        </div>
        <div class="problems">
          <ul>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>学历种类有哪些？</h5>
              <p class="answer">国家承认的高等教育学历类型从录入性质来区分有：统招和继续教育{ 成人教育 }两大部分，后者分为：自考、成教、网络教育、中央电大此4种学历形式。上述四种学历的入学，考试，毕业各不相同，但共同点是：均为国家认可，可作为继续深造及参加国家考试的依据。</p>
            </li>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>什么是“自考”？</h5>
              <p class="answer">“自考”，全称：高等教育自学考试，是我国瑞阶段高等教育的一个重要组成部分，以学历考试为主；免试入学，考生通过规定的课程考试，成绩全部合格，即可取得专科或本科毕业证书。</p>
            </li>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>什么是远程学历？</h5>
              <p class="answer">现代远程教育是一种利用计算机多媒体技术、通信技术，基于计算机互联网络而开展的教育形式，也称为网络教育。现代远程教育主要面向成人在职人员开展非全日制学历教育。</p>
            </li>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>网络教育与自考学历对比怎么样</h5>
              <p class="answer">为了让广大学员，可以清楚对比网络教育和自学考试，启材教育为您作如下对比</p>
              <div class="table">
                <div class="th">
                  <div class="td"></div>
                  <div class="td td2">网络教育</div>
                  <div class="td">自学考试</div>
                </div>
                <div class="tr">
                  <div class="td">国家承认</div>
                  <div class="td td2 cell">国家承认学历</div>
                  <div class="td cell">国家承认学历</div>
                </div>
                <div class="tr">
                  <div class="td">含金量</div>
                  <div class="td td2 cell">同等</div>
                  <div class="td cell">同等</div>
                </div>
                <div class="tr">
                  <div class="td">取证时间</div>
                  <div class="td td2 cell"><span>固定血脂2.5年</span></div>
                  <div class="td cell">视个人情况2-4个月</div>
                </div>
                <div class="tr">
                  <div class="td">难易程度</div>
                  <div class="td td2 cell"><span>简单易学</span></div>
                  <div class="td cell">难度极大</div>
                </div>
                <div class="tr">
                  <div class="td">学习方式</div>
                  <div class="td td2 cell"><span>远程方便、灵活</span></div>
                  <div class="td cell">自学、压力大</div>
                </div>
                <div class="tr">
                  <div class="td">考试难度</div>
                  <div class="td td2 cell"><span>协助保过、不过退款</span></div>
                  <div class="td cell">难度大，考不过重考需要再等一年</div>
                </div>
                <div class="tr">
                  <div class="td">办理过程</div>
                  <div class="td td2 cell"><span>全程协助办理</span></div>
                  <div class="td cell">自行去考试院办理</div>
                </div>
                <div class="tr">
                  <div class="td">申请学位</div>
                  <div class="td td2 cell"><span>可以轻松获得</span></div>
                  <div class="td cell">平均分数要求，论文难度大</div>
                </div>
              </div>
            </li>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>现代远程教育学历证书国家是否承认？</h5>
              <p class="answer">
                自1999年以来，教育部批准67所普通高校和中央广播电视大学开展现代远程教育试点工作，允许上述68所试点高校在校内开展网络教学工作的基础上，通过现代通信网络，开展学历教育和非学历教育。对达到本、专科毕业要求的学生，由学校按照国家有关规定颁发高等教育学历证书，学历证书电子注册后，国家予以承认。
详情可参照中国政府网：<a href="http://www.gov.cn/banshi/2005-11/07/content_93072.htm" title="http://www.gov.cn/banshi/2005-11/07/content_93072.htm" target="_blank">http://www.gov.cn/banshi/2005-11/07/content_93072.htm</a>
              </p>
            </li>
            <li>
              <h5 class="question"><i class="icon icon-arrow-small"></i>什么时候拿到学历证书？学籍档案是否能在学校查询到？毕业证真假怎么辨别？</h5>
              <p class="answer">
                我们都是按照国家教育部规定的时间范围内做到最短时长2.5年毕业领证，全程皆为规范操作。根据教育部教学[2004]25号文件，学历查询唯一指定网站——中国高等教育学生信息网{ 学信网 }<a href="http://www.chsi.com.cn/" target="_blank" title="http://www.chsi.com.cn/">http://www.chsi.com.cn/</a>，在学信网查询不到的一律是假证，除了学信网，其他网站，国家一律不予承认。
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="site-footer">
      <img src="./assets/img/code.png" title="启材教育" class="QRcord">
      <p class="QRcode-desc">
        微信扫描二维码<br>
        关注我们及时了解最新考试资讯
      </p>
    </div>
  </div>
  <script src="./libs/jquery.js"></script>
  <script src="./libs/jquery.slideBox.js"></script>
  <script>
    (function($){
      $(document).ready(function () {
          $(".slideBox").slideBox()
      })
    })(jQuery)
  </script>
</body>
</html>
